button {
    margin: 0.5em;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 260px;
    padding: 0 0;
}

input[type=range]
{
    width: 335px;
    height: 8px;
    padding: 0 0;
}

.ts-viewport {
    width: 320px;
    height: 240px;
}

.crosshair-top {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-top: none;
    border-left: none;
}

.crosshair-right {
    border-bottom: red solid 2px;
    flex: 1;
}

.crosshair-bottom {
    border-right: red solid 2px;
}
