<main id="mainContent">
    <ngb-accordion activeIds="buttons">
        <ngb-panel title="Buttons" id="buttons">
            <ng-template ngbPanelContent>
                <app-button-map-configuration></app-button-map-configuration>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Touchscreen">
            <ng-template ngbPanelContent>
                Test
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Circle Pad">
            <ng-template ngbPanelContent>
                Test
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</main>
