<div class="card">
  <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <div class="card-text">
          <div class="container">
              <div class="row">
                  <div class="col-2">
                    <div class="btn-group-toggle">
                      <label [class.btn-secondary]="buttons.l" [class.btn-light]="!buttons.l" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="buttons.l" (ngModelChange)="maskChange.emit(buttons)">L
                      </label>
                    </div>
                  </div>
                  <div class="col-8"></div>
                  <div class="col-2">
                      <div class="btn-group-toggle">
                          <label [class.btn-secondary]="buttons.r" [class.btn-light]="!buttons.r" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="buttons.r" (ngModelChange)="maskChange.emit(buttons)">R
                          </label>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-11">&nbsp;</div>
              </div>
              <div class="row">
                  <div class="col-2"></div>
                  <div class="col-2">
                      <div class="btn-group-toggle">
                          <label [class.btn-secondary]="buttons.dUp" [class.btn-light]="!buttons.dUp" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="buttons.dUp" (ngModelChange)="maskChange.emit(buttons)">&#x2b9d;
                          </label>
                      </div>
                  </div>
                  <div class="col-4"></div>
                  <div class="col-2">
                      <div class="btn-group-toggle">
                          <label [class.btn-primary]="buttons.x" [class.btn-light]="!buttons.x" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="buttons.x" (ngModelChange)="maskChange.emit(buttons)">X
                          </label>
                      </div>
                  </div>
                  <div class="col-2"></div>
              </div>
              <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <div class="btn-group-toggle">
                        <label [class.btn-secondary]="buttons.dLeft" [class.btn-light]="!buttons.dLeft" ngbButtonLabel>
                          <input type="checkbox" ngbButton [(ngModel)]="buttons.dLeft" (ngModelChange)="maskChange.emit(buttons)">&#x2b9c;
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="btn-group-toggle">
                        <label [class.btn-secondary]="buttons.dRight" [class.btn-light]="!buttons.dRight" ngbButtonLabel>
                          <input type="checkbox" ngbButton [(ngModel)]="buttons.dRight" (ngModelChange)="maskChange.emit(buttons)">&#x2b9e;
                        </label>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <div class="btn-group-toggle">
                        <label [class.btn-success]="buttons.y" [class.btn-light]="!buttons.y" ngbButtonLabel>
                          <input type="checkbox" ngbButton [(ngModel)]="buttons.y" (ngModelChange)="maskChange.emit(buttons)">Y
                        </label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="btn-group-toggle">
                        <label [class.btn-danger]="buttons.a" [class.btn-light]="!buttons.a" ngbButtonLabel>
                          <input type="checkbox" ngbButton [(ngModel)]="buttons.a" (ngModelChange)="maskChange.emit(buttons)">A
                        </label>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-2"></div>
                  <div class="col-2">
                      <div class="btn-group-toggle">
                          <label [class.btn-secondary]="buttons.dDown" [class.btn-light]="!buttons.dDown" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="buttons.dDown" (ngModelChange)="maskChange.emit(buttons)">&#x2b9f;
                          </label>
                      </div>
                  </div>
                  <div class="col-4"></div>
                  <div class="col-2">
                      <div class="btn-group-toggle">
                          <label [class.btn-warning]="buttons.b" [class.btn-light]="!buttons.b" ngbButtonLabel>
                            <input type="checkbox" ngbButton [(ngModel)]="buttons.b" (ngModelChange)="maskChange.emit(buttons)">B
                          </label>
                      </div>
                  </div>
                  <div class="col-2"></div>
              </div>
              <div class="row">
                  <div class="col-11">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-7"></div>
                <div class="col-2">
                  <div class="btn-group-toggle">
                      <label [class.btn-secondary]="buttons.start" [class.btn-light]="!buttons.start" ngbButtonLabel>
                        <input type="checkbox" ngbButton [(ngModel)]="buttons.start" (ngModelChange)="maskChange.emit(buttons)">Start
                      </label>
                  </div>
                </div>
                <div class="col-2">
                    <div class="btn-group-toggle">
                        <label [class.btn-secondary]="buttons.select" [class.btn-light]="!buttons.select" ngbButtonLabel>
                          <input type="checkbox" ngbButton [(ngModel)]="buttons.select" (ngModelChange)="maskChange.emit(buttons)">Select
                        </label>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
