<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-8 col-md-5">
        <h5 class="title">3DS Remap Builder</h5>
        <p class="description">
          Easy GUI for building Rehid configurations.
        </p>
      </div>
      <div class="col-2">
        <ul class="list-unstyled">
          <li>
            <a class="footerlink" href="https://www.github.com/hax0kartik/rehid">
              Rehid
            </a>
          </li>
          <li>
            <a class="footerlink" href="https://www.github.com/mikahjc/ButtonSwap3DSBuilder">
              3DS Remap Builder
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
