<main id="mainContent">
    <ngb-accordion>
        <ngb-panel title="Buttons">
            <ng-template ngbPanelContent>
                <div class="container">
                    <div class="row">
                        <ul class="list-group col-sm">
                            <li class="list-group-item">No mappings defined</li>
                        </ul>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">When I press...</h5>
                                    <div class="card-text">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <input type="checkbox" ngbButton>L
                                                </div>
                                                <div class="col-8"></div>
                                                <div class="col">
                                                    <input type="checkbox" ngbButton>R
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm panel panel-default">
                            <div class="panel-heading">I want to swap to...</div>
                            <div class="panel-body">Output(s)</div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Touchscreen">
            <ng-template ngbPanelContent>
                Test
            </ng-template>
        </ngb-panel>
        <ngb-panel title="Circle Pad">
            <ng-template ngbPanelContent>
                Test
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</main>
