<div class="d-flex flex-wrap">
        <div class="flex-fill third">
            <button type="button" class="btn btn-primary" (click)="saveCurrent()" [disabled]="!currentMapping.input.anyPressed()">Save this swap</button>
            <ul class="list-group">
                <li *ngIf="mappings.length === 0" class="list-group-item">No mappings defined</li>
                <li *ngFor="let mapping of mappings" class="list-group-item">
                    {{mapping.toString()}}<br>
                    <button type="button" class="btn btn-secondary" (click)="loadMapping(mapping)">{{mapping === currentMapping ? 'Done' : 'Edit'}}</button>
                    <button type="button" class="btn btn-danger" (click)="deleteMapping(mapping)">Delete</button>
                </li>
            </ul>
        </div>
            <app-button-selector class="flex-fill third" [(mask)]="currentMapping.input" [title]="'When I press...'"></app-button-selector>
        <div class="flex-fill third">
            <div class="card" (mouseup)="mouseUpCpad()">
                <div class="card-body">
                    <h5 class="card-title">I want the Circle Pad to be at...</h5>
                    <div class="rounded-circle" style="width: 150px; height: 150px; border: 1px solid lightgray"
                        >
                        <div class="rounded-circle circle-pad" style="width: 100px; height: 100px; background-color: lightgray; border: 1px solid black"
                            [style.left]="cPadPositionX() + 'px'" [style.top]="cPadPositionY() + 'px'"
                             (mousemove)="moveCpad($event)"
                             (mousedown)="mouseDownCpad()"
                             (mouseup)="mouseUpCpad()"></div>
                    </div>
                </div>
            </div>
        </div>
</div>
