<div class="d-flex flex-wrap">
    <div class="flex-fill third">
        <button type="button" class="btn btn-primary" (click)="saveCurrent()"
                [disabled]="!currentMapping.input.anyPressed() || editing">Save this swap
        </button>
        <ul class="list-group">
            <li *ngIf="mappings.length === 0" class="list-group-item">No mappings defined</li>
            <li *ngFor="let mapping of mappings" class="list-group-item">
                {{mapping.toString()}}<br>
                <div class="d-flex flex-row">
                <button type="button" class="btn btn-secondary"
                        (click)="loadMapping(mapping)">{{mapping === currentMapping ? 'Done' : 'Edit'}}</button>
                <button type="button" class="btn btn-danger" (click)="deleteMapping(mapping)">Delete</button>
                </div>
            </li>
        </ul>
    </div>
    <app-button-selector class="flex-fill third" [(mask)]="currentMapping.input" [title]="'When I press...'" [rehidMode]="rehidMode"></app-button-selector>
    <app-button-selector class="flex-fill third" [(mask)]="currentMapping.output" [title]="'I want to swap to...'" [rehidMode]="rehidMode" [isOutput]="true"></app-button-selector>
</div>
