<div class="container">
  <div class="row">
    <input type="text" [(ngModel)]="testValue">
  </div>
    <div class="row">
        <ul class="list-group col-2">
            <li class="list-group-item">No mappings defined</li>
        </ul>
        <div class="col-5">
            <app-button-selector [(mask)]="testValue" [title]="'When I press...'"></app-button-selector>
        </div>
        <div class="col-5 panel panel-default">
            <app-button-selector [title]="'I want to swap to...'"></app-button-selector>
        </div>
    </div>
</div>